<ion-header translucent="true">
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/dispositivo/{{idDispositivo}}"></ion-back-button>
		</ion-buttons>
		<ion-title>
			Riegos
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<section *ngIf="!this.noData; else showTable">
		<ion-grid #showtable>
			<ion-row>
				<ion-col size="2" style="border-top: 1px solid grey; border-left: 1px solid grey; border-bottom: 1px solid grey; padding-top: 1em; padding-bottom: 1em; background-color: lightgrey;">
					<b>ID</b>
				</ion-col>
				<ion-col size="7" style="border-top: 1px solid grey; border-bottom: 1px solid grey; padding-top: 1em; padding-bottom: 1em; background-color: lightgrey;">
					<b>Fecha y hora</b>
				</ion-col>
				<ion-col size="3" style="border-top: 1px solid grey; border-right: 1px solid grey; border-bottom: 1px solid grey; padding-top: 1em; padding-bottom: 1em; background-color: lightgrey;">
					<b>Estado</b>
				</ion-col>
			</ion-row>
			<ion-row appBackgroundColor *ngFor="let riego of this.listadoRiego">
				<ion-col size="2" style="border-left: 1px solid grey; border-bottom: 1px solid grey; padding-top: 1em; padding-bottom: 1em;">
					{{riego.logRiegoId}}
				</ion-col>
				<ion-col size="7" style="border-bottom: 1px solid grey; padding-top: 1em; padding-bottom: 1em;">
					{{riego.fecha | date:'dd/MM/yyyy HH:mm:ss':'z'}}
				</ion-col>
				<ion-col size="3" style="border-right: 1px solid grey; border-bottom: 1px solid grey; padding-top: 1em; padding-bottom: 1em;">
					{{riego.apertura | actuador}}
				</ion-col>
			</ion-row>
		</ion-grid>
	</section>
</ion-content>

